<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lab4dx.inter_vehicle_communication_service.mapper.CustomizingSettingMapper">

    <!-- 새로운 커스터마이징 설정 추가 -->
    <insert id="insertSetting">
        INSERT INTO CUSTOMIZING_SETTING (CUSTOMIZING_ID, MEMBER_ID, EMOJI_ID, MESSAGE, IMAGE_PATH, EMOJI_COLOR)
        VALUES (#{customizingId},#{memberId}, #{emojiId}, #{message}, #{imagePath}, #{emojiColor})
    </insert>

    <!-- 특정 회원의 이모지 아이콘 색상 업데이트 -->
    <update id="updateIconSetting">
        UPDATE CUSTOMIZING_SETTING
        SET EMOJI_ID = #{emojiId},
            EMOJI_COLOR = #{emojiColor}
        WHERE MEMBER_ID = #{memberId}
    </update>

    <!-- 전체 커스터마이징 설정 업데이트 -->
    <update id="updateSetting">
        UPDATE CUSTOMIZING_SETTING
        SET EMOJI_ID = #{emojiId},
            MESSAGE = #{message},
            IMAGE_PATH = #{imagePath}
        WHERE MEMBER_ID = #{memberId} AND
            CUSTOMIZING_ID = #{customizingId}
    </update>



    <!-- 특정 회원과 이모지 ID로 커스터마이징 설정 조회 -->
    <select id="getSettingByMemberAndEmoji"
            resultType="com.lab4dx.inter_vehicle_communication_service.dto.CustomizingSetting">
        SELECT * FROM CUSTOMIZING_SETTING
        WHERE MEMBER_ID = #{memberId}
          AND EMOJI_ID = #{emojiId}
    </select>


    <select id="getSettingByMember"
            resultType="com.lab4dx.inter_vehicle_communication_service.dto.CustomizingSetting">
        SELECT * FROM CUSTOMIZING_SETTING WHERE MEMBER_ID = #{memberId}
    </select>

    <select id="getSettingByIdAndMemberId"
            resultType="com.lab4dx.inter_vehicle_communication_service.dto.CustomizingSetting">
        SELECT * FROM CUSTOMIZING_SETTING
        WHERE MEMBER_ID = #{memberId}
          AND CUSTOMIZING_ID = #{customizingId}
    </select>

</mapper>
