<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lab4dx.inter_vehicle_communication_service.mapper.CustomizingSettingMapper">
    <insert id="insert">
    INSERT INTO CUSTOMIZING_SETTING (MEMBER_ID, EMOJI_ID, MESSAGE, IMAGE_PATH, EMOJI_COLOR) VALUES (#{memberId}, #{emojiId}, #{message}, #{imagePath}, #{emojiColor})
    </insert>
    <update id="updateIconSetting">
        UPDATE Customizing_Setting
        SET emoji_id = #{emojiId},
            emoji_color = #{emojiColor}
        WHERE member_id = #{memberId}
    </update>
    <select id="getIconSettingByMemberId"
            resultType="com.lab4dx.inter_vehicle_communication_service.dto.CustomizingSetting">
        SELECT * FROM Customizing_Setting WHERE MEMBER_ID = #{memberId}
    </select>


</mapper>