<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lab4dx.inter_vehicle_communication_service.mapper.CustomizingSettingMapper">
    <update id="updateIconSetting">
        UPDATE Customizing_Setting
        SET emoji_id = #{emoji_id},
            emoji_color = #{emoji_color}
        WHERE member_id = #{member_id}
    </update>
    <select id="getIconSettingByMemberId"
            resultType="com.lab4dx.inter_vehicle_communication_service.dto.customizing_setting">
        SELECT * FROM Customizing_Setting WHERE MEMBER_ID = #{member_id}
    </select>

</mapper>