<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.lab4dx.inter_vehicle_communication_service.mapper.Default_SettingMapper">
    <insert id="insertDefault_Setting" parameterType="com.lab4dx.inter_vehicle_communication_service.dto.Default_Setting">
        INSERT INTO C##LAB4DX.DEFAULT_SETTING (TEXT_ID, SENTIMENT, MEMBER_ID)
        VALUES (#{text_id}, #{sentiment}, #{member_id})
    </insert>

    <!-- user_id로 사용자의 설정을 조회하는 쿼리 -->
    <select id="findByMemberId" parameterType="string" resultType="com.lab4dx.inter_vehicle_communication_service.dto.Default_Setting">
        SELECT * FROM C##LAB4DX.Default_Setting
        WHERE member_id = #{memberId}
    </select>

    <select id="findByMemberIdAndSentiment" parameterType="map"
            resultType="java.lang.String">
            SELECT dt.text
            FROM c##lab4dx.Default_Setting ds
                     JOIN c##lab4dx.Default_Text dt ON ds.text_id = dt.text_id AND ds.sentiment = dt.sentiment
            WHERE ds.member_id = #{memberId}
              AND ds.sentiment = #{sentiment}
    </select>

    <!-- 사용자의 설정을 업데이트하는 쿼리 -->
    <update id="updateMemberEmotionSetting" parameterType="com.lab4dx.inter_vehicle_communication_service.dto.Default_Setting">
        UPDATE C##LAB4DX.Default_Setting
        SET text_id = #{textId}
        WHERE member_id = #{memberId}
          AND sentiment = #{sentiment}
    </update>

</mapper>
