<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.lab4dx.inter_vehicle_communication_service.mapper.EmojiMapper">
    <insert id="insertEmoji">
        INSERT INTO EMOJI (EMOJI_ID) VALUES (#{emojiId})
    </insert>
    <update id="updateEmoji">
        UPDATE EMOJI SET EMOJI_ID = #{emojiId} WHERE EMOJI_ID = #{emojiId}
    </update>
    <select id="getAllEmoji" resultType="com.lab4dx.inter_vehicle_communication_service.dto.Emoji">
        SELECT * FROM EMOJI
    </select>
    <select id="getEmojiById" resultType="com.lab4dx.inter_vehicle_communication_service.dto.Emoji">
        SELECT * FROM EMOJI WHERE EMOJI_ID = #{emojiId}
    </select>
</mapper>